@import "variables/base";

@font-face {
	font-family: "ABC Gravity";
	src: url('$lib/assets/fonts/ABCGravity-Normal-Trial.woff2') format('woff2'),
		 url('$lib/assets/fonts/ABCGravity-Normal-Trial.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
