// LANGSAM
$c-dark: #161A43;
$c-dark--light: #5664fa;

// LEIDENSCHAFT
$c-pink: #FFB4F7;
$c-pink--light: #FFDAF3;

// MEHL
$c-light: #FFF9EF;

// LOKAL
$c-green: #1D5B1C;
$c-green--light: #99B290;

// ORGANISCH
$c-greenbright: #3AA839;
$c-greenbright--light: #A7D49D;
