// LANGSAM
$midnight-blue: #030520;
$slow-blue: #1A205E;


// LEIDENSCHAFT
$hot-pink: #FF87F2;
$passion-pink: #FFB4F7;

// MEHL
$flour-white: #FFF9EF;
$grey: #DCD7DA;

// LOKAL
$local-green: #1D5B1C;
$soft-green: #99B290;

// ORGANISCH
// $c-greenbright: #3AA839;
// $c-greenbright--light: #A7D49D;
